*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.header-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px black solid;
    
}
.logo-site{
    margin-right: 100px;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    padding: 0px;
}
.nav-item{
    display: flex;
    list-style: none;
    height: 50px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-grow: 1;
}
.main-content div{
    display: flex;
    width: 30%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}
.end-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:30px;
    text-align: center;
    background-color: black;
    color: white;
}